.vscode/**
.history/**
main/src/**
server-oracle/src/**
**/test
**/*.map
**/*.zip
.gitignore
.gitattributes
**/tsconfig.json
tslint.json
plsql-language-custom/**
todo.*
**/node_modules/ag-grid-community/src/**
**/node_modules/ag-grid-community/spec/**
**/node_modules/oracledb/**
