.vscode/**
.history/**
main/src/**
server-oracle/src/**
**/test
**/*.map
.gitignore
.gitattributes
**/tsconfig.json
tslint.json
plsql-language-custom/**
todo.*
**/ag-grid-community/src/**
**/ag-grid-community/spec/**
